---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Us">
  <h1>Who Am I? 👋</h1>
  <p>
    I’m a web developer passionate about turning everyday ideas into
    interactive, creative projects.<br /> Whether it’s gamifying productivity, generating
    playlists based on mood, or making study groups more engaging, I love building
    tools that are both useful and fun.
  </p>
</Layout>
