---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <h1>Building Fun, Useful, and Sometimes Weird Web Projects 🚀</h1>
  <p>
    Exploring how code solves real problems (and makes life a little more
    entertaining).
  </p>
</Layout>
